body {
    margin: 20px 50px;
}

.box-event {
    width: 21%;
    height: 200px;
    background-color: lemonchiffon;
    display: inline-flex;
    margin: 0 10px 20px 0;
    border-radius: 10px;
}

.img {
    border-radius: 10px;
}