<!DOCTYPE html>
<html>
    <h1 class="header">Create Employee Info</h1>
    <br>
    <head>
        <link rel="stylesheet" href="../CSS/list_employee.css">
        <link rel="stylesheet" href="../CSS/style.css">
    </head>
    <body>
        <div style="width: 75%; margin-left: auto;">
            <form>
                <label for="fname">Sure name:</label>
                <input type="text" id="sname" name="sname"><br><br>
                <label for="lname">Last name:</label>
                <input type="text" id="lname" name="lname"><br><br>
                <label for="male" style="padding-right: 13px;">Gender:</label>
                <input type="radio" name="gender" value="male" style="margin-left: 30px;"> Male &nbsp;
                <input type="radio" name="gender" value="female"> Female<br><br>
                <label for="birthday" style="padding-right: 11px;">Birthday:</label>
                <input type="date" id="birthday" name="birthday"><br><br>
                <label for="income" style="padding-right: 17px;">Income:</label>
                <input type="date" id="income" name="birthday"><br><br>
                <label for="pos" style="padding-right: 12px;">Position:</label>
                <input type="text" id="pos" name="pos"><br><br>
                <label for="salary" style="padding-right: 24px;">Salary:</label>
                <input type="number" id="salary" name="salary"><br><br>
                <input class="submitButn" type="submit" id="btn-submit" value="Submit">
            </form> 
        </div>
    </body>
</html>