<!-- <h1>Employee Info</h1> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>list employee</title>
    <link rel="stylesheet" href="../CSS/list_employee.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <H1 class="header"><i class="fa fa-user-circle-o"></i> EMPLOYEE INFORMATION</H1>
    <div class="row">
        <table class="table_list_employee">  
            <thead>
                <tr> 
                    <th class="w_column_20">Last Name</th>
                    <th class="w_column__20">Sure Name</th>
                    <th class="w_column_10">Sex</th>
                    <th class="w_column_10">DOB</th>
                    <th class="w_column_15">Income</th>
                    <th class="w_column_15">Position</th>
                    <th class="w_column_10">Salary</th>
                </tr> 
            </thead>   
            <tbody> 
                <tr>
                    <td>Sreyleak</td> 
                    <td>Sunly</td>
                    <td>Female</td>
                    <td>03/01/2000</td>
                    <td>05/06/2021</td>
                    <td>Developer</td>
                    <td>30$</td>
                </tr>
                <tr>
                    <td>Sreyleak</td> 
                    <td>Sunly</td>
                    <td>Female</td>
                    <td>03/01/2000</td>
                    <td>05/06/2021</td>
                    <td>Developer</td>
                    <td>30$</td>
                </tr>
                <tr>
                    <td>Sreyleak</td> 
                    <td>Sunly</td>
                    <td>Female</td>
                    <td>03/01/2000</td>
                    <td>05/06/2021</td>
                    <td>Developer</td>
                    <td>30$</td>
                </tr>
            </tbody>
        </table>
    </div>
    <h4 class="total">Total: 300</h4>
</body>
</html>