<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../CSS/event.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <h3 style="text-align: center;">Pass Events</h3>
    <div class="whole_row">
        <div class="box-event">
            <div class="row">
                <div class="past_event_heading"><i class="fa fa-calendar-plus-o"></i>Happy New year</div>
                <div class="event_day"><br> 20/03/2021 <i class="fa fa-arrows-h"></i> 21/03/2021 <br>
                    Completed<br><br>
                </div>                
                <div class="past_No"><br> 01</div>
            </div>
        </div>
        <div class="box-event">
            <div class="row">
                <div class="past_event_heading"><i class="fa fa-calendar-plus-o"></i>Happy New year</div>
                <div class="event_day"><br> 20/03/2021 <i class="fa fa-arrows-h"></i> 21/03/2021 <br>
                    Completed<br><br>
                </div>                
                <div class="past_No"><br> 02</div>
            </div>
        </div>
        <div class="box-event">
            <div class="row">
                <div class="past_event_heading"><i class="fa fa-calendar-plus-o"></i>Happy New year</div>
                <div class="event_day"><br> 20/03/2021 <i class="fa fa-arrows-h"></i> 21/03/2021 <br>
                    Completed<br><br>
                </div>                
                <div class="past_No"><br> 03</div>
            </div>
        </div>
        <div class="box-event">
            <div class="row">
                <div class="past_event_heading"><i class="fa fa-calendar-plus-o"></i>Happy New year</div>
                <div class="event_day"><br> 20/03/2021 <i class="fa fa-arrows-h"></i> 21/03/2021 <br>
                    Completed<br><br>
                </div>                
                <div class="past_No"><br> 04</div>
            </div>
        </div>
        <div class="box-event">
            <div class="row">
                <div class="past_event_heading"><i class="fa fa-calendar-plus-o"></i>Happy New year</div>
                <div class="event_day"><br> 20/03/2021 <i class="fa fa-arrows-h"></i> 21/03/2021 <br>
                    Completed<br><br>
                </div>                
                <div class="past_No"><br> 05</div>
            </div>
        </div>
        <div class="box-event">
            <div class="row">
                <div class="past_event_heading"><i class="fa fa-calendar-plus-o"></i>Happy New year</div>
                <div class="event_day"><br> 20/03/2021 <i class="fa fa-arrows-h"></i> 21/03/2021 <br>
                    Completed<br><br>
                </div>                
                <div class="past_No"><br> 06</div>
            </div>
        </div>
        <div class="box-event">
            <div class="row">
                <div class="past_event_heading"><i class="fa fa-calendar-plus-o"></i>Happy New year</div>
                <div class="event_day"><br> 20/03/2021 <i class="fa fa-arrows-h"></i> 21/03/2021 <br>
                    Completed<br><br>
                </div>                
                <div class="past_No"><br> 07</div>
            </div>
        </div>
        <div class="box-event">
            <div class="row">
                <div class="past_event_heading"><i class="fa fa-calendar-plus-o"></i>Happy New year</div>
                <div class="event_day"><br> 20/03/2021 <i class="fa fa-arrows-h"></i> 21/03/2021 <br>
                    Completed<br><br>
                </div>                
                <div class="past_No"><br> 08</div>
            </div>
        </div>
        <div class="box-event">
            <div class="row">
                <div class="past_event_heading"><i class="fa fa-calendar-plus-o"></i>Happy New year</div>
                <div class="event_day"><br> 20/03/2021 <i class="fa fa-arrows-h"></i> 21/03/2021 <br>
                    Completed<br><br>
                </div>                
                <div class="past_No"><br> 09</div>
            </div>
        </div>
    </div>
</body>

</html>