<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../CSS/event.css">
</head>

<body>
    <h2>Events</h2>
    <hr>
    <h3>Up-Comming Events</h3>
    <div class="row-1">
        <div class="box-event">
            <div class="img">
                <img src="https://media-exp1.licdn.com/dms/image/C561BAQE-51J-8KkMZg/company-background_10000/0/1548357920228?e=2159024400&v=beta&t=D9EoYj6SBCp9zbnp8ZZdHpF27Kl29zabOtAvJw3qz4w" alt="" width="100%">
            </div>
            <div class="txt">

            </div>
        </div>
        <div class="box-event">
            hello
        </div>
        <div class="box-event">
            hello
        </div>
        <div class="box-event">
            hello
        </div>
    </div>
    <hr>
    <h3>Up-Comming Events</h3>
    <div class="row-1">
        <div class="box-event">
            hello
        </div>
        <div class="box-event">
            hello
        </div>
        <div class="box-event">
            hello
        </div>
        <div class="box-event">
            hello
        </div>
    </div>


</body>

</html>