<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../CSS/event.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <h2>Add Events: </h2>
    <form>
        <label for="fname">Event Name:</label>
        <input type="text" id="sname" name="sname">
        <label for="birthday" style="padding-right: 11px;">Date:</label>
        <input type="date" id="birthday" name="birthday">
        <label for="fstt">Status:</label>
        <select name="rate"  class="select">
            <option value="soon">Coming Soon</option>
            <option value="today">Today</option>
        </select>
        <input class="submitButn" type="submit" id="btn-submit" value="Submit">
    </form>
    <hr>
    <h3>Up-Comming Events</h3>
    <div class="whole_row">
        <div class="box-event">
            <div class="row">
                <div class="event_heading"><i class="fa fa-calendar-plus-o"></i>Happy New year</div>
                <div class="event_day"> 20/03/2021 <i class="fa fa-arrows-h"></i> 21/03/2021 <br>
                    Comming Soon... <br><br>
                    <button class="edit_ev"><i class="fa fa-edit"></i> Edit</button>
                </div>                
                <div class="No"><br> 01</div>
            </div>
        </div>
        <div class="box-event">
            <div class="row">
                <div class="event_heading"><i class="fa fa-calendar-plus-o"></i>Happy New year</div>
                <div class="event_day"> 20/03/2021 <i class="fa fa-arrows-h"></i> 21/03/2021 <br>
                    Comming Soon... <br><br>
                    <button class="edit_ev"><i class="fa fa-edit"></i> Edit</button>
                </div>                
                <div class="No"><br> 02</div>
            </div>
        </div>
        <div class="box-event">
            <div class="row">
                <div class="event_heading"><i class="fa fa-calendar-plus-o"></i>Happy New year</div>
                <div class="event_day"> 20/03/2021 <i class="fa fa-arrows-h"></i> 21/03/2021 <br>
                    Comming Soon... <br><br>
                    <button class="edit_ev"><i class="fa fa-edit"></i> Edit</button>
                </div>                
                <div class="No"><br> 03</div>
            </div>
        </div>
        <div class="box-event">
            <div class="row">
                <div class="event_heading"><i class="fa fa-calendar-plus-o"></i>Happy New year</div>
                <div class="event_day"> 20/03/2021 <i class="fa fa-arrows-h"></i> 21/03/2021 <br>
                    Comming Soon... <br><br>
                    <button class="edit_ev"><i class="fa fa-edit"></i> Edit</button>
                </div>                
                <div class="No"><br> 04</div>
            </div>
        </div>
        <div class="box-event">
            <div class="row">
                <div class="event_heading"><i class="fa fa-calendar-plus-o"></i>Happy New year</div>
                <div class="event_day"> 20/03/2021 <i class="fa fa-arrows-h"></i> 21/03/2021 <br>
                    Comming Soon... <br><br>
                    <button class="edit_ev"><i class="fa fa-edit"></i> Edit</button>
                </div>                
                <div class="No"><br> 05</div>
            </div>
        </div>
        <div class="box-event">
            <div class="row">
                <div class="event_heading"><i class="fa fa-calendar-plus-o"></i>Happy New year</div>
                <div class="event_day"> 20/03/2021 <i class="fa fa-arrows-h"></i> 21/03/2021 <br>
                    Comming Soon... <br><br>
                    <button class="edit_ev"><i class="fa fa-edit"></i> Edit</button>
                </div>                
                <div class="No"><br> 06</div>
            </div>
        </div>
    </div>
</body>

</html>